<ng-container *ngIf="state$ | async as vm">
  <form [formGroup]="form">
    <div class="alert alert-danger" role="alert" *ngIf="vm.hasError">
      A simple danger alert—check it out!
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" formControlName="username" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>

    <div>
      <button type="button" class="btn btn-primary" (click)="onSubmit.next()">
        Submit
      </button>
    </div>
  </form>
</ng-container>
