/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$primary: #0964CF;
$secondary: #2FA84F;

.btn-hoverable {
  &:hover {
    background: rgb(0 0 0 / 10%) !important;
  }

  &--active {
    background: rgb(0 0 0 / 30%) !important;
  }
}