<div class="container py-3" *rxLet="vm$ as vm">
  <div class="alert alert-danger" *ngIf="vm.error">
    {{ vm.error }}
  </div>

  <form [formGroup]="form">
    <div class="mb-3">
      <div class="btn-group" dropdown>
        <button
          type="button"
          class="btn btn-primary"
          (click)="submit$.next({ form, redirect: true })"
        >
          SAVE AND GOTO
        </button>

        <button
          id="button-split"
          type="button"
          dropdownToggle
          class="btn btn-primary dropdown-toggle dropdown-toggle-split"
          aria-controls="dropdown-split"
        >
          <span class="caret"></span>
          <span class="sr-only visually-hidden">toggle</span>
        </button>
        <ul
          id="dropdown-split"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-split"
        >
          <li role="menuitem">
            <button
              class="dropdown-item"
              type="button"
              (click)="submit$.next({ form, redirect: false })"
            >
              SAVE AND RESET
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="card mb-3">
          <div class="bg-white card-header d-flex justify-content-between py-3">
            <span>Product types</span>
            <span>Setup</span>
          </div>
          <div class="card-body">
            <div class="d-flex">
              <div class="form-check me-5">
                <input
                  class="form-check-input"
                  type="radio"
                  name="productType"
                  id="normalProduct"
                  [value]="0"
                  formControlName="productType"
                />
                <label class="form-check-label" for="normalProduct">
                  Normal product
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="productType"
                  id="expiryProduct"
                  [value]="1"
                  formControlName="productType"
                />
                <label class="form-check-label" for="expiryProduct">
                  Expiry product
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- product type -->

        <div class="card mb-3">
          <div class="card-header bg-white py-3">Product information</div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label class="form-label" for="productName">Product name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter product name"
                formControlName="productName"
                [ngClass]="{ 'is-invalid': form?.hasError('productName') }"
              />
              <div
                class="invalid-feedback"
                *ngIf="form.hasErrorOf('productName', 'required')"
              >
                Product name is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="form.hasErrorOf('productName', 'minlength')"
              >
                Product name must be at least 10 characters
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="sku">SKU</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="sku"
                    [ngClass]="{ 'is-invalid': form.hasError('sku') }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="form.hasErrorOf('sku', 'forbiddenPrefix')"
                  >
                    SKU is not allowed to have POS as prefix
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="weight">Weight</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Weight"
                      formControlName="weight"
                    />
                    <ng-select
                      class="weight-options"
                      [clearable]="false"
                      [items]="['g', 'kg']"
                      style="width: 60px"
                      formControlName="weightUnit"
                    >
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="barcode">Barcode</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="barcode"
                  />
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="unit">Unit</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="unit"
                  />
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-sm btn-primary">
              Product description
            </button>

            <div class="mt-3">
              <quill-editor></quill-editor>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header bg-white py-3">Pricing</div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="salePrice">Sale price</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="salePrice"
                    [ngClass]="{ 'is-invalid': form.hasError('salePrice') }"
                  />
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="wholesalePrice"
                    >Wholesale price</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    formControlName="wholesalePrice"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label" for="importPrice"
                    >Import price</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    formControlName="importPrice"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- pricing -->

        <div class="card mb-3">
          <div class="card-body">
            <div class="bg-white border-bottom-0 card-header mb-3 p-0 px-0">
              Images
            </div>
            <div
              class="border rounded text-center"
              style="border-style: dashed !important"
            >
              <div
                class="custom-dropzone"
                ngx-dropzone
                [accept]="'image/*'"
                (change)="selectedFiles$.next($event.addedFiles)"
              >
                <ngx-dropzone-label>
                  <div>
                    <i class="bi bi-plus"></i>
                    <span>drag and drop images here or</span>
                    <span class="ms-1 text-primary text-decoration-underline"
                      >upload from your computer</span
                    >
                  </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview
                  ngProjectAs="ngx-dropzone-preview"
                  *ngFor="let f of vm.files"
                  [file]="f"
                  [removable]="true"
                  (removed)="removedFile$.next(f)"
                >
                </ngx-dropzone-image-preview>
              </div>
            </div>
          </div>
        </div>
        <!-- images -->

        <div class="card mb-3">
          <div class="card-header bg-white py-3">
            <div class="d-flex align-items-center">
              <span style="min-height: 1.5rem" class="me-3">Inventory</span>
              <div class="form-check form-switch mb-0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="inventory"
                  formControlName="inventoryInit"
                />
                <label class="form-check-label" for="inventory"></label>
              </div>
            </div>
            <div class="fw-normal mt-3">
              Initializing inventory and import price at branches
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-3" style="font-weight: 500">
              <div class="col align-self-center">Branch</div>
              <div class="col">Init qty</div>
              <div class="col">Import price</div>
            </div>
            <div class="row mb-3">
              <div class="col">Default branch</div>
              <div class="col">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="inventoryInitQty"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="inventoryImportPrice"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- inventory -->
      </div>
      <!-- left col -->

      <div class="col-4">
        <div class="card mb-3">
          <div class="card-header bg-white py-3">Additional info</div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="category" class="form-label">Category</label>
              <ng-select [items]="[1, 2, 3, 4]" formControlName="category" class="header-p-0">
                <ng-template ng-header-tmp>
                  <button class="btn btn-default btn-sm rounded-0 text-start w-100" (click)="showAddCategory()">
                    <i class="bi bi-plus-circle"></i>
                    Add category
                  </button>
                </ng-template>
              </ng-select>
            </div>

            <div class="form-group mb-3">
              <label for="brand" class="form-label">Brand</label>
              <ng-select
                [items]="[1, 2, 3, 4]"
                formControlName="brand"
              ></ng-select>
            </div>

            <div class="form-group">
              <label for="tags" class="form-label">Tags</label>
              <textarea
                rows="3"
                class="form-control"
                formControlName="tags"
              ></textarea>
            </div>
          </div>
        </div>
        <!-- additional info -->

        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between">
              <div>
                <strong>Status</strong>
                <div>Able to sell</div>
              </div>
              <div class="form-check form-switch mb-0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="sellable"
                  formControlName="sellable"
                />
                <label class="form-check-label" for="sellable"></label>
              </div>
            </div>
            <hr />
            <div class="d-flex align-items-end justify-content-between">
              <div>
                <strong>Tax</strong>
                <div>Apply tax</div>
              </div>
              <div class="form-check form-switch mb-0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="tax"
                  formControlName="taxable"
                />
                <label class="form-check-label" for="tax"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pricing -->

      <!-- images -->

      <!-- <div class="card mb-3">
        <div class="card-header bg-white py-3">
          <div class="d-flex align-items-center">
            <span style="min-height: 1.5rem" class="me-3">Inventory</span>
            <div class="form-check form-switch mb-0">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="inventory"
              />
              <label class="form-check-label" for="inventory"></label>
            </div>
          </div>
          <div class="fw-normal mt-3">
            Initializing inventory and import price at branches
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-3" style="font-weight: 500">
            <div class="col align-self-center">Branch</div>
            <div class="col">Init qty</div>
            <div class="col">Import price</div>
          </div>
          <div class="row mb-3">
            <div class="col">Default branch</div>
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- inventory -->
    </div>
    <!-- row -->

    <div>
      <button
        type="button"
        class="btn btn-primary"
        (click)="submit$.next({ form, redirect: true })"
      >
        SAVE AND GOTO
      </button>
    </div>
  </form>
</div>
