<div class="d-flex master">
  <aside class="aside">
    <h2 class="mb-0">
      <a [routerLink]="['/admin']" class="border-bottom border-secondary branding px-4">POS</a>
    </h2>
    <nav class="h-100 menu">
      <div class="divider"><i class="bi bi-box-seam"></i> PRODUCTS</div>
      <a [routerLink]="['./', 'products']">Products</a>
      <a href="#">Inventories</a>
      <a href="#">Purchase Orders</a>
    </nav>
  </aside>

  <main class="flex-fill">
    <header
      class="header"
      style="height: 52px"
      class="bg-white shadow-sm"
    ></header>

    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
