<header class="align-items-center bg-primary d-flex px-3 pos__header" *ngIf="vm$ | async as vm">
  <div
    class="align-items-center bg-white d-flex outline-none ps-2 rounded-3 shadow-none"
  >
    <i class="bi bi-search mx-2"></i>
    <input
      type="text"
      class="form-control border-0 shadow-none"
      placeholder="Add product to cart (F3)"
      style="min-width: 300px"
    />
  </div>

  <div class="ms-2">
    <button class="btn btn-hoverable" type="button">
      <i class="bi bi-upc-scan me-2"></i>
      <span>(F10)</span>
    </button>
  </div>

  <div class="d-flex mx-2 orders">
    <div class="order-tab me-2 py-2">
      <button type="button" class="btn btn-hoverable btn-hoverable--active">
        Order 1
        <i class="bi bi-x-circle ms-1"></i>
      </button>
    </div>
    <div class="order-tab me-2 py-2 active bg-white">
      <button type="button" class="btn shadow-none text-black">
        Order 2
        <i class="bi bi-x-circle ms-1"></i>
      </button>
    </div>
  </div>

  <button
    class="align-items-center btn btn-hoverable d-inline-flex justify-content-center rounded-circle"
    type="button"
    style="width: 38px; height: 38px"
  >
    <i class="bi bi-plus" style="font-size: 2rem"></i>
  </button>

  <div class="flex-fill"></div>

  <div
    class="align-items-center branches btn-group-sm d-flex flex-column justify-content-between"
  >
    <button class="btn btn-hoverable py-0" type="button">
      <i class="bi bi-geo-alt"></i>
      Default branch
    </button>

    <button class="btn btn-hoverable py-0" type="button">
      <i class="bi bi-person"></i>
      Username
    </button>
  </div>

  <div class="menu">
    <button
      type="button"
      class="align-items-center btn btn-hoverable d-inline-flex justify-content-center rounded-circle"
      style="width: 38px"
    >
      <i class="bi bi-tablet"></i>
    </button>
    <button
      type="button"
      class="align-items-center btn btn-hoverable d-inline-flex justify-content-center rounded-circle"
      style="width: 38px"
    >
      <i class="bi bi-arrows-fullscreen"></i>
    </button>
    <button
      type="button"
      class="align-items-center btn btn-hoverable d-inline-flex justify-content-center rounded-circle"
      style="width: 38px"
    >
      <i class="bi bi-wifi"></i>
    </button>
    <button
      type="button"
      class="align-items-center btn btn-hoverable d-inline-flex justify-content-center rounded-circle"
      style="width: 38px"
    >
      <i class="bi bi-house"></i>
    </button>
    <button
      type="button"
      class="btn btn-outline-light btn-sm rounded-pill ms-2"
    >
      Shortcut
    </button>
  </div>
</header>
