$header-height: 54px;
$payment-width: 445px;
$order-item-height: 64px;

.order-item {
  display: grid;
  grid-template-columns: 50px 50px 120px auto 100px 100px 150px 150px;
}

.card__body {
  .order-item {
    align-items: center;
    height: $order-item-height;
    font-size: 1.1rem;
    border-radius: .5rem;

    &:nth-child(2n + 1) {
      background: #f7f7f7;
      border: 1px solid #aaa;
    }

    &:hover {
      background: #f2f2f2;
    }
  }
}

.column--product {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column--qty {
  input.number {
    width: 50px;
    height: 24px;
    text-align: center;
    border: none;
    outline: none;
    background: inherit;
    border-radius: .25rem;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #ddd;
    }
  }

  .update-qty {
    border: 0;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: .25rem;
    transition: .02s ease-out;
    opacity: 0;
    visibility: hidden;

    &.dec {
      right: 100%;
    }

    &.inc {
      left: 100%;
    }
  }

  &:hover {
    .update-qty {
      overflow: 1;
      opacity: 1;
      visibility: visible;
    }
  }
}
