$header-height: 54px;
$payment-width: 445px;
$order-item-height: 64px;

.pos__header {
  .btn {
    &:not(.btn-outline-light) {
      color: #fff;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: auto $payment-width;
  grid-template-rows: auto 150px;
  background-color: #ddd;
  grid-gap: .5rem;
.payment {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}
}

.pos {
  min-height: 100vh;
  display: grid;
  grid-template-rows: $header-height auto;
}
.order-item {
  display: grid;
  grid-template-columns: 50px 50px 120px auto 100px 80px 150px 150px;
}

.card__body {
  .order-item {
    align-items: center;
    height: $order-item-height;
    font-size: 1.1rem;
    border-radius: .5rem;

    &:nth-child(2n + 1) {
      background: #f7f7f7;
      border: 1px solid #aaa;
    }

    &:hover {
      background: #f2f2f2;
    }
  }
}

.order-actions {
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}