<div class="pos">
  <header class="align-items-center bg-primary d-flex px-3 pos__header">
    <div
      class="align-items-center bg-white d-flex outline-none ps-2 rounded-3 shadow-none"
    >
      <i class="bi bi-search mx-2"></i>
      <input
        type="text"
        class="form-control border-0 shadow-none"
        placeholder="Add product to cart (F3)"
        style="min-width: 300px"
      />
    </div>

    <div class="ms-2">
      <button class="btn btn-hoverable" type="button">
        <i class="bi bi-upc-scan me-2"></i>
        <span>(F10)</span>
      </button>
    </div>

    <div class="d-flex mx-2 orders">
      <div class="order-tab me-2 py-2">
        <button type="button" class="btn btn-hoverable btn-hoverable--active">
          Order 1
          <i class="bi bi-x-circle ms-1"></i>
        </button>
      </div>
      <div class="order-tab me-2 py-2 active bg-white">
        <button type="button" class="btn shadow-none text-black">
          Order 2
          <i class="bi bi-x-circle ms-1"></i>
        </button>
      </div>
    </div>

    <button
      class="align-items-center btn btn-hoverable d-inline-flex justify-content-center rounded-circle"
      type="button"
      style="width: 38px; height: 38px;"
    >
      <i class="bi bi-plus" style="font-size: 2rem"></i>
    </button>

    <div class="flex-fill"></div>

    <div class="align-items-center branches btn-group-sm d-flex flex-column justify-content-between">
      <button class="btn btn-hoverable py-0" type="button">
        <i class="bi bi-geo-alt"></i>
        Default branch
      </button>

      <button class="btn btn-hoverable py-0" type="button">
        <i class="bi bi-person"></i>
        Username
      </button>
    </div>

    <div class="menu">
      <button type="button" class="align-items-center btn btn-hoverable d-inline-flex justify-content-center rounded-circle" style="width: 38px;">
        <i class="bi bi-tablet"></i>
      </button>
      <button type="button" class="align-items-center btn btn-hoverable d-inline-flex justify-content-center rounded-circle" style="width: 38px;">
        <i class="bi bi-arrows-fullscreen"></i>
      </button>
      <button type="button" class="align-items-center btn btn-hoverable d-inline-flex justify-content-center rounded-circle" style="width: 38px;">
        <i class="bi bi-wifi"></i>
      </button>
      <button type="button" class="align-items-center btn btn-hoverable d-inline-flex justify-content-center rounded-circle" style="width: 38px;">
        <i class="bi bi-house"></i>
      </button>
      <button type="button" class="btn btn-outline-light btn-sm rounded-pill ms-2">Shortcut</button>
    </div>
  </header>

  <div class="main">
    <div class="cart">
      <div class="card__header">
        <div class="column column--order">Order</div>
        <div class="column column--sku">SKU</div>
        <div class="column column--product">Product</div>
        <div class="column column--unit">Unit</div>
        <div class="column column--qty">Qty</div>
        <div class="column column--sub">Sub total</div>
        <div class="column column--total">Total</div>
      </div>
      <div class="card__body">
        <ng-container *ngFor="let p of products">
          <div class="column column--order">{{ p.order }}</div>
          <div class="column column--sku">{{ p.sku }}</div>
          <div class="column column--product">{{ p.productName }}</div>
          <div class="column column--unit">{{ p.unit }}</div>
          <div class="column column--qty">{{ p.qty }}</div>
          <div class="column column--sub">{{ p.subTotal }}</div>
          <div class="column column--total">{{ p.total }}</div>
        </ng-container>
      </div>
    </div>

    <div class="payment">
      <div class="form-group">
        <i class="bi bi-search"></i>
        <input
          type="text"
          class="form-control"
          placeholder="Search customer (F4)"
        />
        <button type="button" class="btn btn-default">
          <i class="bi bi-plus"></i>
        </button>
      </div>

      <div class="form-group">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="delivery"
          />
          <label class="form-check-label" for="delivery">Delivery</label>
        </div>
      </div>

      <div class="payment-items">
        <div class="payment-item">
          <div class="label">Sub total: (2 products)</div>
          <div class="value">1,550,000</div>
        </div>
        <div class="payment-item">
          <div class="label">VAT</div>
          <div class="value">0</div>
        </div>
        <div class="payment-item">
          <div class="label">Discount (F6)</div>
          <div class="value">0</div>
        </div>
        <div class="payment-item strong">
          <div class="label">Total</div>
          <div class="value">1,500,000</div>
        </div>
        <div class="payment-item strong">
          <div class="label">Customer pay (F2)</div>
          <div class="value">1,500,000</div>
        </div>

        <div class="quick-amounts">
          <button type="button" class="btn btn-default">100,000</button>
          <button type="button" class="btn btn-default">100,000</button>
          <button type="button" class="btn btn-default">100,000</button>
          <button type="button" class="btn btn-default">100,000</button>
          <button type="button" class="btn btn-default">100,000</button>
          <button type="button" class="btn btn-default">100,000</button>
        </div>

        <div class="payment-item strong">
          <div class="label">Return</div>
          <div class="value">0</div>
        </div>

        <div class="form-group">
          <i class="bi bi-pencil"></i>
          <input type="text" class="form-control" placeholder="Notes" />
        </div>

        <div class="actions">
          <button type="button" class="btn btn-light">
            Multiple payments (F7)
          </button>

          <button type="button" class="btn btn-success">PAY (F1)</button>
        </div>
      </div>
    </div>
  </div>
</div>
