<div class="pos">
  <app-pos-header></app-pos-header>

  <div class="main">
    <app-pos-cart class="bg-white d-block"></app-pos-cart>

    <app-pos-payment
      class="bg-white p-3 payment d-flex flex-column h-100"
    ></app-pos-payment>

    <div class="bg-white d-grid order-actions p-3">
      <button type="button" class="btn btn-default">
        function
      </button>
      <button type="button" class="btn btn-default">
        function
      </button>
      <button type="button" class="btn btn-default">
        function
      </button>
      <button type="button" class="btn btn-default">
        function
      </button>
      <button type="button" class="btn btn-default">
        function
      </button>
      <button type="button" class="btn btn-default">
        function
      </button>
    </div>
  </div>
</div>
