<div class="modal-header">
  <h4 class="modal-title pull-left">Add Category</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <div [ngClass]="{ 'd-flex gap-3 mb-3': !simpleForm }">
      <div class="form-group" [ngClass]="{ col: !simpleForm }">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>

      <div class="form-group" [ngClass]="{ col: !simpleForm }" *ngIf="!simpleForm">
        <label for="code" class="form-label">Code</label>
        <input type="text" class="form-control" formControlName="code" />
      </div>
    </div>

    <div class="form-group" *ngIf="!simpleForm">
      <label for="note" class="form-label">Note</label>
      <textarea rows="3" class="form-control" formControlName="note"></textarea>
    </div>

    <div *ngIf="hasError$" class="alert alert-danger">
      Form is invalid. Please recheck!
    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    Close
  </button>
  <button type="button" class="btn btn-primary" (click)="submit()">
    Submit
  </button>
</div>
